.App{
  display: grid;
  background-color: #e7e7e3;
  place-items: center;
  height: 100vh;
  }

.app__body {
  background-color: #f7f7f7;
  height: 93vh;
  width: 90vw;
  box-shadow: -1px 4px 40px -6px rgba(0,0,0,0.5);
}


.App__header {
  text-align: center;
  background-color: rgb(23, 52, 107);
  margin: 10px;
  border-radius: 20px;
  padding: 10px;
  color:cornsilk;
}

.App__form{
  text-align: center;
  margin: 10px;
}


